body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to left,#aaaaaa 50%, #ffffff 50%);
}
h2{
    background-color: dimgray;
    color: whitesmoke;
    padding: 5px;
    border-radius: 6px;

}
.panel {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 50%;
}

.panel h2 {
    margin-bottom: 20px;
}

.panel form {
    margin-bottom: 20px;
}

.panel label {
    display: block;
    margin-bottom: 5px;
}

.panel input[type="text"]{

 justify-items: center;
 width: 40vh;
 height: 30px;
 margin-bottom: 10px;
 border: 1px solid #ccc;
 border-radius: 3px;
 padding: 5px;

}
.panel input[type="password"] {
   
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    justify-items: center;
    width: 40vh;
    height: 30px;
    color: black;

    
}
.logar1{
    padding: 4px;
   font-size: 0.5cm;
   border-radius: 6px;
}


.panel button {
    width: 100%;
    padding: 10px;
    background-color: dimgray;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.panel button:hover {
    background-color: #0056b3;
}

.extra {
    margin-bottom: 20px;
}

.extra p {
    margin: 0;
}

.extra a {
    color: gray;
    text-decoration: none;
}

.extra a:hover {
    text-decoration: underline;
}

.exit-btn {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 4px;
    font-size: 0.5cm;
    border-radius: 8px;
}

.exit-btn:hover {
    background-color: #c82333;
}
.incorreto {
    color: #c82333;
}